@import url(../../node_modules/modern-normalize/modern-normalize.css);

.body {
  background: url(../img/background.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-color: #efe7da;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  color: #606060;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
}

li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}
.header {
  width: 100%;
  padding: 2vw;
  /* flex-basis: 20%;
  height: 20vh; */
  padding: 1vh;
}

.button-sound {
  width: 45px;
}

.button-sound__img {
  width: 100%;
}

.wrapper {
  flex-basis: 60%;
  flex: 1;
  width: 672px;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-top {
  width: 402px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 10px;
  flex: 1;
}

.switch {
  width: 7vw;
  max-width: 100px;
}

.switch img {
  width: 100%;
}

.main-bottom {
  height: 88%;
  display: flex;
  justify-content: center;
}

.main-rules,
.main-next {
  width: 100px;
  border: 1px solid rgba(0, 0, 0, 0.47);
  border-radius: 10px;
  text-align: center;
}

.rules-title,
.next-title {
  font-size: 25px;
  margin-bottom: 30px;
}

.rule-title {
  margin-bottom: 10px;
  font-size: 16px;
}

.rules-list {
  font-size: 20px;
  color: #606060;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rules-icon {
  width: 30px;
}

.rules-icon-speed {
  transform: rotate(180deg);
}

.rules-icon-left {
  transform: rotate(-90deg);
}

.rules-icon-right {
  transform: rotate(90deg);
}

.rules-icon-space {
  width: 70px;
}

.main-game {
  width: 402px;
  background: rgba(211, 159, 151, 0.497);
  border-radius: 10px;
}

.next__list {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.j-img {
  width: 33.5px;
}

.i-img {
  width: 16.75px;
}

.o-img {
  width: 33.5px;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  align-items: center;
  color: #aaa;
  text-shadow: rgb(249, 249, 249) 1px 0 10px;
}

.rss img {
  width: 50px;
}
/* div {
  position: absolute;
  bottom: 0;
  left: 0;
}
img {
  width: 100%;
  height: 100%;
  display: block;
}
.img4 {
  width: 134px;
}
.img2 {
  width: 67px;
  left: 134px;
}

.img3 {
  width: 100.5px;
  left: 201px;
}

.img4:last-child {
  transform: rotate(90deg);
  left: 301.5px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.block {
  width: 402px;
  height: 40vw;
  border: 2px solid black;
  position: relative;
} */
