@import url(../../node_modules/modern-normalize/modern-normalize.css);

/*
  ---1920px---
  1 клетка - 40px
  10 х 15
  400px х 600px


  ---1440px---
  1 клетка - 30px
  10 x 15
  300px x 450px

---1024px---
  1 клетка - 28px
  10 x 15
  280px x  420px

*/

.body {
  background: url(../img/background.png);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #efe7da;
  color: #606060;
  user-select: none;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}
.header {
  width: 100%;
  padding: 2vw;
  padding: 1vh;
}

.button-sound {
  width: 45px;
}

.button-sound__img {
  width: 100%;
}

.wrapper {
  flex-basis: 60%;
  flex: 1;
  width: 672px;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-top {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 10px;
  /* flex: 1; */
}

.switch {
  width: 7vw;
  max-width: 100px;
}

.switch img {
  width: 100%;
}

.main-bottom {
  /* height: 88%; */
  display: flex;
  justify-content: center;
}

.main-rules,
.main-next {
  width: 100px;
  height: 600px;
  border: 1px solid rgba(0, 0, 0, 0.47);
  border-radius: 10px;
  text-align: center;
}

.rules-title,
.next-title {
  font-size: 25px;
  margin-bottom: 30px;
}

.rule-title {
  margin-bottom: 10px;
  font-size: 16px;
}

.rules-list {
  font-size: 20px;
  color: #606060;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rules-icon {
  width: 30px;
}

.rules-icon-speed {
  transform: rotate(180deg);
}

.rules-icon-left {
  transform: rotate(-90deg);
}

.rules-icon-right {
  transform: rotate(90deg);
}

.rules-icon-space {
  width: 70px;
}

.main-game {
  width: 400px;
  height: 600px;
  background: rgba(211, 159, 151, 0.497);
  border-radius: 10px;
  position: relative;
}

.next__list {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.j-img {
  width: 33.5px;
}

.i-img {
  width: 16.75px;
}

.o-img {
  width: 33.5px;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  align-items: center;
  color: #aaa;
  text-shadow: rgb(249, 249, 249) 1px 0 10px;
}

.rss img {
  width: 50px;
}

/* S   H   A   P   E   S      S   I   Z   E */
.shapes {
  position: absolute;
  border: 1px solid 606060;
}

.i-shapes {
  width: 40px;
  height: 160px;
  top: 440px;
  left: 80px;
}

.o-shapes {
  width: 80px;
  height: 80px;
  top: 520px;
  left: 120px;
}

/* S   H   A   P   E   S      S   I   Z   E */

@media screen and (width <= 1024px) {
  .body {
    background-size: cover;
  }

  .main-rules,
  .main-next {
    height: 450px;
  }

  .main-top {
    width: 300px;
  }

  .main-game {
    width: 300px;
    height: 450px;
  }
}

@media screen and (height < 800px) {
  /* .main-top {
    flex: auto;
  } */
}

/* @media screen and (width <= 1024px) {
  .main-rules,
  .main-next {
    height: 420px;
  }

  .main-top {
    width: 280px;
  }

  .main-game {
    width: 280px;
    height: 420px;
  }
} */

.cell {
  width: 40px;
  height: 40px;
  border: 1px solid #6060603a;
  border-radius: 2px;
  position: relative;
}

.main-game {
  display: flex;
  flex-wrap: wrap;
}

.o {
  position: relative;
  background-color: red;
}

.i {
  position: relative;
  background-color: rosybrown;
}

.i-zero::after {
  background: url(../img/i1.png);
}

.i-one::after {
  background: url(../img/i2.png);
}

.i-two::after {
  background: url(../img/i3.png);
}

.i-three::after {
  background: url(../img/i4.png);
}
.i-zero::after,
.i-one::after,
.i-two::after,
.i-three::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background-size: contain;
  /* transform: rotate(90deg); */
}

.s {
  position: relative;

  background-color: aquamarine;
}

.z {
  position: relative;

  background-color: yellowgreen;
}

.l {
  position: relative;
  background-color: teal;
}

.j {
  position: relative;
  background-color: black;
}

.j {
  position: relative;
  background-color: blueviolet;
}
.t {
  background-color: tomato;
}
