@import url(../../node_modules/modern-normalize/modern-normalize.css);

.body {
  background: url(../img/background.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-color: #efe7da;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

p {
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}

.header {
  width: 100%;
  padding: 2vw;
  border: 2px solid black;
  flex-basis: 20%;
  height: 20vh;
  padding: 2vw;
}

.button-sound {
  width: 3vw;
}

.button-sound__img {
  width: 100%;
}

.wrapper {
  flex-basis: 60%;
  height: 60vh;
  width: 672px;
  border: 2px solid black;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-top {
  width: 100%;
  border: 4px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  flex: 1;
}

.main-bottom {
  height: 88%;
  display: flex;
  justify-content: center;
}

.main-rools {
  /* flex: 1; */
}

.main-game {
  width: 402px;
  /* height: 800px; */
  border: 4px solid darkblue;
}

.main-next {
  /* flex: 1; */
}

.footer {
  padding: 2vw;
  border: 2px solid black;
  flex-grow: 1;
  flex-basis: 20%;
  height: 20vh;
  width: 100%;
}
/* div {
  position: absolute;
  bottom: 0;
  left: 0;
}
img {
  width: 100%;
  height: 100%;
  display: block;
}
.img4 {
  width: 134px;
}
.img2 {
  width: 67px;
  left: 134px;
}

.img3 {
  width: 100.5px;
  left: 201px;
}

.img4:last-child {
  transform: rotate(90deg);
  left: 301.5px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.block {
  width: 402px;
  height: 40vw;
  border: 2px solid black;
  position: relative;
} */
