@import url(../../node_modules/modern-normalize/modern-normalize.css);

/*
  ---1920px---
  1 клетка - 40px
  10 х 15
  400px х 600px


  ---1440px---
  1 клетка - 30px
  10 x 15
  300px x 450px

---1024px---
  1 клетка - 28px
  10 x 15
  280px x  420px

*/

.body {
  background: url(../img/background.png);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #efe7da;
  color: #606060;
  user-select: none;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}
.header {
  width: 100%;
  padding: 2vw;
  padding: 1vh;
}

.button-sound {
  width: 45px;
}

.button-sound__img {
  width: 100%;
}

.wrapper {
  flex-basis: 60%;
  flex: 1;
  width: 672px;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-top {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 10px;
  /* flex: 1; */
}

.switch {
  width: 7vw;
  max-width: 100px;
}

.switch img {
  width: 100%;
}

.main-bottom {
  /* height: 88%; */
  display: flex;
  justify-content: center;
}

.main-rules,
.main-next {
  width: 100px;
  height: 600px;
  border: 1px solid rgba(0, 0, 0, 0.47);
  border-radius: 10px;
  text-align: center;
}

.rules-title,
.next-title {
  font-size: 25px;
  margin-bottom: 30px;
}

.rule-title {
  margin-bottom: 10px;
  font-size: 16px;
}

.rules-list {
  font-size: 20px;
  color: #606060;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rules-icon {
  width: 30px;
}

.rules-icon-speed {
  transform: rotate(180deg);
}

.rules-icon-left {
  transform: rotate(-90deg);
}

.rules-icon-right {
  transform: rotate(90deg);
}

.rules-icon-space {
  width: 70px;
}

.main-game {
  display: grid;
  grid-template-columns: repeat(10, auto);
  grid-template-rows: repeat(15, auto);
  width: 400px;
  height: 600px;
  background: rgba(211, 159, 151, 0.497);
  border-radius: 10px;
  position: relative;
}

.main-game > div {
}

.next__list {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.j-img {
  width: 33.5px;
}

.i-img {
  width: 16.75px;
}

.o-img {
  width: 33.5px;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  align-items: center;
  color: #aaa;
  text-shadow: rgb(249, 249, 249) 1px 0 10px;
}

.rss img {
  width: 50px;
}

/* S   H   A   P   E   S      S   I   Z   E */
.main-game > div {
  width: 40px;
  height: 40px;
  /* border: 1px solid #6060603a; */
  border-radius: 2px;
  position: relative;
  background-color: #606060;
}

/* .main-game {
  display: flex;
  flex-wrap: wrap;
} */

.i-zero::after {
  background: url(../img/i1.png);
}

.i-one::after {
  background: url(../img/i2.png);
}

.i-two::after {
  background: url(../img/i3.png);
}

.i-three::after {
  background: url(../img/i4.png);
}

.o-zero::after {
  background: url(../img/o1.png);
}

.o-one::after {
  background: url(../img/o2.png);
}

.o-two::after {
  background: url(../img/o3.png);
}

.o-three::after {
  background: url(../img/o4.png);
}

.s-zero::after {
  background: url(../img/s1.png);
}

.s-one::after {
  background: url(../img/s2.png);
}

.s-two::after {
  background: url(../img/s3.png);
}

.s-three::after {
  background: url(../img/s4.png);
}

.s-zero::after {
  background: url(../img/s1.png);
}

.s-one::after {
  background: url(../img/s2.png);
}

.s-two::after {
  background: url(../img/s3.png);
}

.s-three::after {
  background: url(../img/s4.png);
}

.z-zero::after {
  background: url(../img/z1.png);
}

.z-one::after {
  background: url(../img/z2.png);
}

.z-two::after {
  background: url(../img/z3.png);
}

.z-three::after {
  background: url(../img/z4.png);
}

.l-zero::after {
  background: url(../img/l1.png);
}

.l-one::after {
  background: url(../img/l2.png);
}

.l-two::after {
  background: url(../img/l3.png);
}

.l-three::after {
  background: url(../img/l4.png);
}

.j-zero::after {
  background: url(../img/j1.png);
}

.j-one::after {
  background: url(../img/j2.png);
}

.j-two::after {
  background: url(../img/j3.png);
}

.j-three::after {
  background: url(../img/j4.png);
}

.t-zero::after {
  background: url(../img/t1.png);
}

.t-one::after {
  background: url(../img/t2.png);
}

.t-two::after {
  background: url(../img/t3.png);
}

.t-three::after {
  background: url(../img/t4.png);
}

.i-zero::after,
.i-one::after,
.i-two::after,
.i-three::after,
.o-zero::after,
.o-one::after,
.o-two::after,
.o-three::after,
.s-zero::after,
.s-one::after,
.s-two::after,
.s-three::after,
.z-zero::after,
.z-one::after,
.z-two::after,
.z-three::after,
.l-zero::after,
.l-one::after,
.l-two::after,
.l-three::after,
.j-zero::after,
.j-one::after,
.j-two::after,
.j-three::after,
.t-zero::after,
.t-one::after,
.t-two::after,
.t-three::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background-size: contain;
}
.o,
.i,
.s,
.z,
.l,
.j,
.t {
  border: 2px solid #606060;
  background: url(../img/t2.png);
}

/* S   H   A   P   E   S      S   I   Z   E */

@media screen and (width <= 1024px) {
  .main-game > div {
    width: 30px;
    height: 30px;
  }

  .body {
    background-size: cover;
  }

  .main-rules,
  .main-next {
    height: 450px;
  }

  .main-top {
    width: 300px;
  }

  .main-game {
    width: 300px;
    height: 450px;
  }

  .i-zero::after,
  .i-one::after,
  .i-two::after,
  .i-three::after,
  .o-zero::after,
  .o-one::after,
  .o-two::after,
  .o-three::after,
  .s-zero::after,
  .s-one::after,
  .s-two::after,
  .s-three::after,
  .z-zero::after,
  .z-one::after,
  .z-two::after,
  .z-three::after,
  .l-zero::after,
  .l-one::after,
  .l-two::after,
  .l-three::after,
  .j-zero::after,
  .j-one::after,
  .j-two::after,
  .j-three::after,
  .t-zero::after,
  .t-one::after,
  .t-two::after,
  .t-three::after {
    width: 30px;
    height: 30px;
  }
}
